$fa-font-path:        "../webfonts";
@import"~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

.navbar {
    background-color: #6610f2;

    a {
        color: #fff;
        text-decoration: none;
    }
    
    a:hover {
        color: #fffd74;
    }
}

.display-7 {
    text-align: center;
}

.card {
    margin-top: 70px;
    padding: 40px;
}

.card-header {
    margin-bottom: 20px;
    background-color: #fff;
}

.btn-outline-primary1 {
    background-color: #6610f2;
    color: #fff;
    float: right;
    margin-bottom: 20px;
}

.btn-primary1:hover {
    color: #fff;
}